*{
    background-color: gainsboro;
}
.pty{
    margin: 0 auto; 
    margin-top: 4cm;
    height: 470px;
    width: 350px;
    background-color: white;
    position: relative;
    border-radius: 12px;
    box-shadow: gray;
}
img{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}
h3{
    background-color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    background-color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}